.portfolio {
  text-align: center;
  padding: 20px;
}

.font-weight-bold {
  font-weight: bold;
}

.light-gray {
  color: lightgray;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

/* Projects Section */
.project-card {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.project-card-description {
  color: black;
}

.no-underline {
  text-decoration: none;
}


/* Skills Section */
.skills-bar {
  margin-top: 0.5rem;
  position: relative;
  height: 100%;
  background-color: white;
  overflow: hidden;
}

.skills-bar .progress-bar {
  height: 100%;
  border-radius: 10px;
  background-color: blue;
  width: 0;
  transition: width 2s ease-in-out;

}

@keyframes skillsAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* Certificate Section */
.certificate-section {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  flex-wrap: wrap;         /* Allows card items to wrap to next line */
}

.certificate-card {
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.certificate-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.certificate-card-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.certificate-card-description {
  color: black;
}